.kpi-row {
  .upload-info {
    background: #F8F6FE;
    padding: 15px 20px;
    // border-left: 4px solid #6f42c1;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    // border-color: #4F46E533;
    border-color: #5732BF33;

    span {
      display: inline-block;
      padding-block: 12px;
      padding-inline: 15px;
      background-color: #7152F30D;
      border-radius: 5px;
    }

    h2 {
      margin: 0;
      font-size: 1.2rem; 
      font-weight: 300;
      color:#16151C;
      font-family: Lexend;
    }

    p {
      margin-top: 7px;
      font-size:37px;
      font-weight: 700;
      color: #16151C;
      margin-bottom: 0px;
      // font-family: "Lexend", sans-serif;
      font-family: Lexend;

    }
  }
}
.merchant-profile-box {
  background: #FFF;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 340px;

  .merchant-details {
    font-size: 1rem;
    color: #212529;
    line-height: 1.8;

    div {
      margin-bottom: 8px;

      strong {
        color: #6c757d;
      }
    }
  }

  .qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      height: 200px;
      width: 200px;
      background-color: #fff;
      padding: 10px;
      border-radius: 10px;
      // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .text-center {
      font-weight: 500;
      margin-top: 10px;
      font-family: 'Nunito';
      font-size: 16px;
    }
  }
}

.transaction-box {
  background: #Fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 340px;
}